<head>
    <title><%= title %> - Birdview</title>
    <link href="../styles/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&family=Nunito+Sans&display=swap" rel="stylesheet">  
</head>