<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title:"About"}) %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div id="about">
        <h2>About this website</h2>
        <h3>What does it do?</h3>
        <p>Birdview takes the GPS path of an outdoor activity and generates a 3D map of its surroundings. 
            The goal is to output a nice image, ready to be kept as a memory or shared with friends. 
            As opposed to other tools, Birview uses raytraced rendering instead of real-time 3D. 
            Raytracing allows a much better-looking, physically accurate representation of light.</p>
        <h3>What is a GPX file?</h3>
        <p>GPX (GPS Exchange Format) is a file format used to store data from outdoor activities. 
            It saves GPS position, time, and elevation at regular intervals. 
            From that data, we create a path and place it on a map. 
            All modern GPS watches can export GPX files. If you don't have a watch, you 
            can use <a href = "https://www.strava.com">Strava</a> to record and export GPX files.            
        </p>
        <h3>Who made this?</h3>
        <p>This website is made by me, <a href="http://etiennebouteille.com">Etienne</a>. I made the design, backend, and frontend dev, as well as 
            all the shenanigans to automate the renders in Blender. The trace featured on the homepage is 
            also mine. I use this website to view my own outdoor adventures and run it on my own server. 
            Everyone is welcome to use it but there is no guarantee it will be up tomorrow. Enjoy it while you can!
            </p>
        <p>This entire website is built with open source technologies and data. 
            Thank you <a href="https://www.blender.org/">Blender</a>, <a href="https://prochitecture.gumroad.com/l/blender-osm">Blender-osm</a>, <a href="https://nodejs.org/en/">NodeJs</a>, 
            <a href="https://www.raspberrypi.org/">RaspberryPi</a>, <a href="https://www.arcgis.com/">ArcGIS</a>.
            All the source code for this website is available on <a href="https://github.com/etiennebouteille/gpx-renderer">Github</a>.</p>
        </div>
    </body>
</html>