<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title:"Error"}) %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div id="errorContainer">
        <h2>Oops !</h2>
        <img id="errorimg" src="/img/trounoir.png" alt='a mountain with a black hole'>
        <p><%= error %></p>
        </div>
    </body>
</html>