<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" ></script>
    </head>
    <body>
        <h1>Upload a file!</h1>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div>
                <label>Select your file :</label>
                <input type="file" name="gpxfile" />
            </div>
            <div>
                <input type="submit" name="uploadbtn" value="Upload" />
            </div>
        </form>
    </body>
</html>