<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title : "GPX route to 3D map"}) %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="home-container">
            <div class="home-text">
                <h2>GPS data 👉 3d Map</h2>
                <p id="description">Birdview turns your outdoor activities into a good looking map, complete with satellite imagery and detailed relief.</p>
                    <div class="ctas">
                        <div class="ctabutton">
                        <form id="myform" method="post" action="/upload" enctype="multipart/form-data">
                            <div>
                                <label class="uploadButton"> Pick a gpx file
                                <input class="hiddenButton" type="file" name="gpxfile" id="myfile"/>
                                </label>
                            </div>
                            <div>
                                <input class="hiddenButton" type="submit" name="uploadbtn" value="Upload" />
                            </div>
                        </form>
                        </div>
                        <div class="ctabutton">
                        <a href="#" class="seelastest">See the latest renders</a>
                        </div>
                    </div>
            </div>
            <div class="home-image">
                <img src="/img/aravis_cropped.png" alt="3d map of the aravis mountain range" />
            </div>
        </div>
        <script>
            document.getElementById("myfile").onchange = function(){
                document.getElementById("myform").submit();
            };
        </script>   
    </body>
</html>