<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title:"Latest Renders"}) %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div id="latestContainer">
        <h2>Latest Renders</h2>
            <% if (renders.length > 0) { %>
                <% for (let i = renders.length - 1; i > renders.length - 9; i-- ) { %>
                    <% let str = "/renders/" %>
                    <img src=<%= str.concat(renders[i]) %> >
                <% }; %>
            <% } %> 
        </div>
    </body>
</html>