<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs', {title:"Upload"}) %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div id="uploadContainer">
            <h2>Upload succeful!</h2>
            <p>Rendering in progress.</p>
            <img id="myimage" src="/img/loading.jpg" alt='an image that says loading' width=540 height=540>
            <!-- <p>Upload was a success! You uploaded the file : <%# filepath #%></p> -->
            <p>This takes 10 to 20 minutes. Keep the tab open or come back later to see the result in the <a href="./latest">latest renders.</a></p>
        </div>
        <script>
            const socket = io();

            socket.on('message', (text, imgpath) => {
                console.log("received a message");
                document.querySelector('h2').innerHTML = text;
                document.querySelector('title').innerHTML = "Rendering finished - Birdview";
                document.getElementById('myimage').src = imgpath;
                document.getElementById('myimage').alt = "rendu de la trace gpx"
            });

        </script>
    </body>
</html>