<!DOCTYPE html>
    <body>
        <h1>Upload in progress!</h1>
        <img src=<%= imgpath %> alt='rendu de la trace gpx' width=540 height=540>
        <p>Upload was a success! You uploaded the file : <%= filepath %></p>
    </body>