header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 6.5em;
    color: #F02F2F;
    margin:0;
    margin-left: 20px;
    line-height: 1em;
}

h1 a{
    color:inherit;
    text-decoration:inherit;
}

#aboutmenu{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration:none;
    color:#FFFFFF;
    margin-right: 20px;
}

h2{
    font-family: 'Kanit', sans-serif;
    color:#C6CCD3;
    font-weight: 500;
    font-size: 2.3em;
    margin:0;
}

.home-text h2 {
    font-size: 3vw;
}

body{
    background-color: #181E25;
}

.home-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top: 5%;
}

.home-text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;
    padding-left: 5%;
}

#description {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin:0;
    width:90%;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    color: #C6CCD3;
}

.home-image{
    flex:2;
    display: flex;
    justify-content: center;
}

.home-image img {
    max-width: 85%;
    height: auto;
}

.hiddenButton {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.uploadButton{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    border-width: 0;
    padding: 12px 35px 14px 35px;
    max-width: 100%;
    color: #181E25;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    background: #ACCDF0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.uploadButton:hover{
    background: rgb(190, 213, 238);
}

.buttontext {
    transition: all 0.3s ease;
}

.seelastest{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    /* margin-left: 20px; */
    border-width: 0;
    padding: 10px 33px 12px 33px;
    max-width: 100%;
    color: #C6CCD3;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    background: #181E25;
    text-decoration: none;
    border: 3px solid #ACCDF0;
    transition: all 0.3s ease;
}

.seelastest:hover{
    border:3px solid #506172;
    
}

.seelastest:hover .buttontext{
    transform:translateX(5px);
}

.ctas{
    flex:1;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

/*** ABOUT ***/
#about {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    width:30%;
    margin: 0 auto;
}

#about a {
    color:#bed7f1;
    text-decoration: none;
    transition: all 0.2s ease;
}

h3 {
    font-family: 'Kanit', sans-serif;
    color:#c6ccd3;
    margin:0;
}

#about a:hover{
    color:#9ebbda;
}

#about p {
    margin-top: 0;
    margin-bottom: 20px;
}

/*** LATEST ***/
#latestContainer {
    display:flex;
    flex-direction: column;
    width:30%;
    margin: 0 auto;
}

#latestContainer img {
    margin:10px 0;
    max-width: 100%;
}

/*** UPLOAD ***/

#uploadContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

#uploadContainer p {
    margin: 0;
    text-align: center;
}

#uploadContainer img {
    max-width: 100%;
    height: auto;
    margin:20px 0;
}

/*** ERROR ***/

#errorContainer {
    display:flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#errorContainter img{
    max-width: 100%;;
}

/**** media queries ***/

@media screen and (max-width: 576px){
    #home {
        background-image: url("../img/closeup_mobile.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
    }
    #latestContainer{
        width: 90%;
        margin-top: 10px;
    }

    #about {
        width: 90%;
        margin-top: 10px;
    }

    .home-container {
        width:90%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin:0 auto;
        margin-top:120%;
    }

    .home-text{
        margin:0;
    }

    #description {
        width: 100%;
        margin-top: 10px;
    }

    .home-image {
        order:1;
        flex:0;
    }

    .home-image img {
        display: none;
    }

    h1 {
        font-size: 2.3em;
        margin-left: 5px;
    }

    #home h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .home-text h2 {
        font-size: 2.2em;
    }

    .ctas {
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin:20px auto;
        gap:0;
    }

    .uploadButton {
        width:80%;
        margin:0;
        padding:12px 35px 14px 35px;
        border-radius: 30px;
    }

    .seelastest {
        width:80%;
        margin-top: 10px;
        margin-left:0px;
        border-radius: 30px;
        padding:11px 34px 13px 34px;
    }

    #uploadContainer {
        width:90%;
        margin-top:10px;
    }

    #errorContainer {
        width:90%;
        margin-top: 10px;
    }

    #loadingvideo {
        max-width:100%;
    }
}