header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 6.5em;
    color: #F02F2F;
    margin:0;
    margin-left: 20px;
    line-height: 1em;
}

h1 a{
    color:inherit;
    text-decoration:inherit;
}

#aboutmenu{
    font-family: 'Nunito', sans-serif;
    text-decoration:none;
    color:#FFFFFF;
    margin-right: 20px;
}

h2{
    font-family: 'Kanit', sans-serif;
    color:#C6CCD3;
    font-weight: 500;
    font-size: 2.3em;
    margin:0;
}

a {
    text-decoration: none;
}

.home-text h2 {
    font-size: 3vw;
}

body{
    background-color: #181E25;
}

.home-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top: 5%;
    gap:5%;
}

.home-text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;
    padding-left: 5%;
}

#description {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin:0;
    width:90%;
}

p{
    font-family: 'Nunito', sans-serif;
    color: #C6CCD3;
}

.home-image{
    flex:2;
    display: flex;
    justify-content: center;
}

.home-image img {
    max-width: 85%;
    height: auto;
}

.hiddenButton {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.uploadButton{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    border-width: 0;
    padding: 12px 40px 14px 40px;
    max-width: 100%;
    color: #181E25;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    background: #ACCDF0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.uploadButtonFlex {
    flex-shrink:0;
}

.uploadButton:hover{
    background: rgb(190, 213, 238);
}

.buttontext {
    transition: all 0.5s ease;
    position:relative;
}

.connectStrava{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    /* margin-left: 20px; */
    border-width: 0;
    padding: 10px 6px 12px 6px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    background: #FC4C02;
    text-decoration: none;
    border: 3px solid #FC4C02;
    transition: all 0.5s ease;
}

.connectStrava svg{
    fill:#ffffff;
    width:28%;
    transition: all 0.5s ease;
    vertical-align: auto;
    margin-left: 0.11em;
    vertical-align: -5%;
    max-height: 28px;
}

.connectStrava:hover {
    color:#FC4C02;
    background:#FFFFFF;
    border-color:#FFFFFF;
}

.connectStrava:hover svg {
    fill: #FC4C02;
}

.ctas{
    flex:1;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    /* justify-content: flex-end; */
    justify-content: space-between;
}

#seelatest {
    width: 75%;
    text-align: center;
    margin-top:2.5em;
    align-self: center;
}

/*** ABOUT ***/
#about {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    width:30%;
    margin: 0 auto;
}

#about a {
    color:#bed7f1;
    text-decoration: none;
    transition: all 0.2s ease;
}

h3 {
    font-family: 'Kanit', sans-serif;
    color:#c6ccd3;
    margin:0;
}

#about a:hover{
    color:#9ebbda;
}

#about p {
    margin-top: 0;
    margin-bottom: 20px;
}

/*** LATEST ***/
#latestContainer {
    display:flex;
    flex-direction: column;
    width:30%;
    margin: 0 auto;
}

#latestContainer img {
    margin:10px 0;
    width:100%;
    max-width: 100%;
}

#latestContainer p{
    font-family: 'Kanit', sans-serif;
    margin:0;
    color:white;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: -5px;
}

#latestContainer h3{
    color:white;
    line-height: 90%;
}

.render{
    margin-bottom:10px;
}

h2 {
    margin-bottom: 15px;
}

/*** UPLOAD ***/

#uploadContainer{
    display:flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
    margin: 0 auto;
}

#uploadContainer h2 {
    font-weight: 700;
    color:white;
    margin-bottom: 0;
    line-height: 95%;
    font-size: 2em;
}

#uploadContainer #date {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color:white;
}

#uploadContainer img {
    max-width: 100%;
    height: auto;
    margin:20px 0 10px;
}

#uploadContainer a {
    color:#f1f5fa;
    text-decoration: none;
    transition: all 0.2s ease;
}

#uploadContainer a:hover {
    color:#284f79;
}

/** STRAVA ACTIVITIES **/

#activitiesTitle {
    font-family: 'Nunito', sans-serif;
    font-size:1.9em;
    font-weight: 800;
    margin-top:20px;
    color:white;
    margin-left: 12.5%;
}

#activities {
    display:flex;
    flex-wrap:wrap;
    width:75%;
    justify-content: flex-start;
    margin:auto;
    gap:1.5%;
    row-gap:16px;
}

.activityCard {
    font-family: 'Kanit', sans-serif;
    background-color: #FC4C02;
    border-radius: 6px;
    height:6em;
    flex-grow:0;
    flex-shrink: 0;
    flex-basis:46%;
    padding:15px;
    padding-top: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.05);
    transition: all 0.7s ease;
}

.activityCard:hover {
    background-color: white;
}

.activityContainer {
    position:relative;
}

.activityCard h3 {
    color:white;
    font-weight:700;
    font-size:2em;
    line-height: 1.3em;
    text-decoration: none;
    transition: all 0.7s ease;
}

.activityCard p {
    color:white;
    font-family: 'Kanit', sans-serif;
    margin:0;
    transition: all 0.7s ease;
}

.activityCard:hover p, .activityCard:hover h3 {
    color:#FC4C02
}

.activityCard .date {
    text-align:right;
    font-weight:300;
    position:relative;
    top:-5em;
}

.activityCard .type {
    font-weight:400;
}
.activityCard .distance {
    font-weight:700;
}

#activities-nav{
    display:flex;
    justify-content:center;
    align-items: center;
    height:6em;
    flex-grow:0;
    flex-shrink: 0;
    flex-basis:46%;
    padding-top: 5px;
    background-color: #181E25;
    gap:10%;
}

#activities-nav a {
    font-family: 'Nunito', sans-serif;
    font-weight:800;
    color:white;
}

#older::before {
    content: "\A";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#newer::after {
    content: "\A";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/** EDITABLE PAGE **/

#uploadContainer input[type=text]{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color:white;
    border:none;
    background-color: #181E25;
}

#uploadContainer .titleNotEdited{
    text-decoration: underline dashed 3px;
    text-decoration-color: white;
}

#uploadContainer .titleNotEdited:hover{
    cursor:pointer;
}

/*** ERROR ***/

#errorContainer {
    display:flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#errorContainter img{
    max-width: 100%;;
}

/**** media queries ***/

@media screen and (max-width: 576px){
    #home {
        background-image: url("../img/closeup_mobile.png");
        background-repeat: no-repeat;
        background-position: center top -100px;
        background-size: 100% auto;
    }
    
    #latestContainer{
        width: 90%;
        margin-top: 10px;
    }

    #about {
        width: 90%;
        margin-top: 10px;
    }

    .home-container {
        width:90%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin:0 auto;
        margin-top:90%;
    }

    .home-text{
        margin:0;
        padding-left: 0;
    }

    #description {
        width: 100%;
        margin-top: 10px;
    }

    .home-image {
        order:1;
        flex:0;
    }

    .home-image img {
        display: none;
    }

    h1 {
        font-size: 2.3em;
        margin-left: 5px;
    }

    #home h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .home-text h2 {
        font-size: 2.2em;
        align-self: center;
    }

    .ctas {
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin:30px auto;
        gap:0;
    }

    .uploadButton {
        width:74%;
        margin:0;
        padding:12px 35px 14px 35px;
        border-radius: 4px;
    }

    .connectStrava{
        margin-top: 10px;
    }

    .seelastest {
        width:80%;
        margin-top: 10px;
        margin-left:0px;
        border-radius: 30px;
        padding:11px 34px 13px 34px;
    }

    #seelatest {
        margin-top:0;   
    }

    #uploadContainer {
        width:90%;
        margin-top:10px;
    }

    #uploadContainer h2 {
        font-size:1.4em;
    }

    #uploadContainer p {
        font-size: 0.8em;
    }

    #uploadContainer video{
        margin:0;
    }

    #errorContainer {
        width:90%;
        margin-top: 10px;
    }

    .loadingvideo {
        max-width:100%;
    }

    #activities {
        width:90%;
        row-gap: 13px;
        height:90%;
        overflow:hidden;
        overflow-y:scroll;
        padding-top:8px;
    }

    .activityCard {
        flex-basis:92%;
        height:4.5em;
        border-radius: 3px;
        padding:10px;
        padding-top: 5px;
    }

    .activityCard p {
        font-size: 0.9em;
    }

    .activityCard h3 {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .activityCard .date {
        font-size: 0.8em;
        top:-5.3em;
    }

    #activitiesTitle {
        font-size:1.4em;
        margin-left: 5%;
        margin-top:10px;
        margin-bottom: 0;
    }

    #activities-nav{
        flex-basis:98%;
        height:2.2em;
    }

    #activities-nav{
        margin-bottom: 10px;
    }

    #activitiesBody{
        background-image: url("../img/closeup_mobile.png");
        background-repeat: no-repeat;
        background-position: center top -100px;
        background-size: 100% auto;
        margin:0;
    }

    #activitiesContainer{
        background-color: #181E25;
        border-radius: 8px;
        position:absolute;
        top:17vh;
        padding-top:1px;
        height:83%;
    }

    #activitiesContainer hr{
        border: 0;
        border-top: 0.8px solid #54606D;
        width:75%;
        margin-bottom:0;
    }
}